name: Terraform CI/CD terminating ec2

on:
 workflow_dispatch:
 schedule:
    - cron: '18 18 * * *' # Runs at midnight, adjust as needed

jobs:
  terraform-destroy:
    name: 'Terraform Destroy'
    runs-on: ubuntu-latest
    env:
      AWS_REGION: 'us-east-1'
    
    steps:
    - name: 'Checkout GitHub repository'
      uses: actions/checkout@v2

    - name: 'Configure AWS credentials'
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: 'Set up Terraform'
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: ${{ env.TF_VERSION }}
    
    - name: 'Terraform Init'
      run: terraform init -reconfigure

    
    - name: 'Terraform destroy'
      run: terraform destroy -auto-approve



     
